.m-comment--reply {
  width: 100%;
}


/* LIKABILITY BUTTON */

.m-likability-button {
  background-color: hsl(228, 33%, 97%);
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 0.5em;

  width: 100px;
  height: 40px;
  border-radius: 10px;
}

.m-likability-button > * {
  fill: #c5c6ef;
}

.m-likability-button > *:hover {
  fill: var(--primary-color);
}

.m-likability-button__like {
  background-color: inherit;
}

.m-likability-button__value {
  background-color: inherit;
  color: var(--primary-color);
  font-weight: 500;
}

.m-likability-button__dislike {
  background-color: inherit;
}
